<style>
  body {
    background: rgb(250, 250, 250)
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
  }

  .profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
  }

  .profile-button:hover {
    background: #682773
  }

  .profile-button:focus {
    background: #682773;
    box-shadow: none
  }

  .profile-button:active {
    background: #682773;
    box-shadow: none
  }

  .back:hover {
    color: #682773;
    cursor: pointer
  }

  .labels {
    font-size: 11px
  }

  .add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
  }
</style>




<!-- Page Title -->
  <div class="page section-header text-center mb-0">
    <div class="page-title">
      <div class="wrapper">
        <h1 class="page-width">CHANGE PASSWORD</h1>
      </div>
    </div>
  </div>
  <!-- End Page Title -->
  <!-- Breadcrumbs -->
  <div class="bredcrumbWrap bredcrumbWrapPage bredcrumb-style2 text-center">
    <div class="container breadcrumbs">
      <a href="/myprofile" title="Back to the home page">My Profile</a><span aria-hidden="true">|</span><span
        class="title-bold">Change Password</span>
    </div>
  </div>
  <!-- End Breadcrumbs -->


<div class="container mt-5 mb-5 ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 ">

      <h4> Change Password</h4>

        {{#if passwordincorect}}
        
          <p class="error" style="color: #ff0000;"> *You Had Entered Wrong Password</p>
        
        {{/if}}

      <form method="post" action="/changepassword" accept-charset="UTF-8" class="customer-form"
        onsubmit="return changevalidation()">
        <div class="row mt-2 ">
          <div class="col-md-12"><label class="labels">* CurrentPassword</label><input type="password" class="form-control"
              placeholder="enter Current Password" id="currentpassword" value="" name="CurrentPassword"></div>
          <p id="Passwordse" class="text text-danger"> </p>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">* NewPassword</label><input type="password" class="form-control"
              placeholder="enter New Password" id="password" value="" name="NewPassword"></div>
          <p id="Passwords" class="text text-danger"></p>

        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">* ConfirmPassword</label><input type="password" class="form-control"
              placeholder="ConfirmPassword" id="confirmpassword" value="" name="ConfirmPassword"></div>
          <p id="ConfirmPasswords" class="text text-danger"></p>
        </div>
      
       <button type="submit" class="btn btn-secondary">Submit</button>



      </form>


    </div>
  </div>
</div>

<script>
  function changevalidation() {
    var curentpassword = document.getElementById("currentpassword").value;
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmpassword").value;

    if (curentpassword == "") {
      document.getElementById("Passwordse").innerHTML =
        " Please enter the fieled";
      return false;
    }


    if (password == "") {
      document.getElementById("Passwords").innerHTML =
        " Please enter the fieled";
      return false;
    }


    if (confirmPassword == "") {
      document.getElementById("ConfirmPasswords").innerHTML =
        " please enter the fieled";
      return false;
    }
    if (password.length <= 6 || password.length > 16) {
      document.getElementById("Passwords").innerHTML =
        " Password lenght must be between  6 and 16";
      return false;
    }

    if (password != confirmPassword) {
      document.getElementById("ConfirmPasswords").innerHTML =
        "  Password does not match ";
      return false;
    }
  }
</script>