


 <!-- Body Content -->
            <div id="page-content">
                <!-- Page Title -->
                <div class="page section-header text-center">
                    <div class="page-title">
                        <div class="wrapper"><h1 class="page-title">Cart empty</h1></div>
                    </div>
                </div>
                <!-- End Page Title -->

                <div class="container">
                    <div class="row">
                        <!-- Main Content -->
                        <div class="col-sm-12 text-center empty-page mb-5">
                            <i class="icon an an-cart-arrow-down"></i>
                            <h2>Your shopping cart is empty!</h2>
                            <p class="mb-3 pb-1">You have no items in your shopping cart.</p>
                            <a href="/" class="btn btn-primary">continue shopping</a>
                        </div>
                        <!-- End Main Content -->
                    </div>
                </div>
            </div>
            <!-- End Body Content -->