<!-- Body Content -->
            <div id="page-content">
                <!-- Page Title -->
                <div class="page section-header text-center mb-0">
                    <div class="page-title">
                        <div class="wrapper"><h1 class="page-title">Checkout Success</h1></div>
                    </div>
                </div>
                <!-- End Page Title -->
                <!-- Breadcrumbs -->
                <div class="bredcrumbWrap bredcrumb-style2">
                    <div class="container breadcrumbs">
                        <a href="/home" title="Back to the home page">Home</a><span aria-hidden="true">|</span><span class="title-bold">Checkout Success</span>
                    </div>
                </div>
                <!-- End Breadcrumbs -->

                <div class="container checkout-success-content">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="checkout-success-banner mb-4 mb-lg-5">
                                {{!-- <img class="blur-up lazyload" data-src="assets/images/checkout-success-banner.jpg" src="assets/images/checkout-success-banner.jpg" alt="Checkout Success Banner" /> --}}
                            </div>
                        </div>
                    </div>

                    {{!-- <div class="row"> --}}
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 w-100  d-flex justify-content-center " style="margin-left: 300px;">
                            <div class="card border-0 rounded-0">
                                <div class="card-body text-center">
                                    <p class="checkout-success-icon"><i class="icon an an-check-square"></i></p>
                                    <h4 class="card-title .text-danger" >Thank you for your purchase!</h4>
                                    <p class="card-text mb-1">       <b>      </b> </p>
                                    <p class="card-text mb-1">       </p>
                                    <p class="card-text mb-1">      </p>
                                    <a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
                                    <a href="/myorders" class="btn btn-primary mt-3">Order History</a>
                                </div>
                            </div>
                        </div>  
                    <div class="row my-4 my-lg-5">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="checkout-static-block">
                                <h3>         </h3>
                                <p>          </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Body Content -->