<div id="page-content">
                <!-- Page Title -->
                <div class="page section-header text-center mb-0">
                    <div class="page-title">
                        <div class="wrapper"><h1 class="page-width">Register</h1></div>
                    </div>
                </div>
                <!-- End Page Title -->
                <!-- Breadcrumbs -->
                <div class="bredcrumbWrap bredcrumbWrapPage bredcrumb-style2 text-center">
                    <div class="container breadcrumbs">
                        <a href="/" title="Back to the home page">Home</a><span aria-hidden="true">|</span><span class="title-bold">Register</span>
                    </div>
                </div>
                <!-- End Breadcrumbs -->

                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 box">	
                            <div class="mb-4">
                                <h3>Personal Information</h3>
                                <form method="post" action="/register" accept-charset="UTF-8" class="customer-form">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="CustomerFirstName">First Name  <span class="required">*</span></label>
                                                <input id="CustomerFirstName" type="text" name="Name" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label for="CustomerLastName">Last Name <span class="required">*</span></label>
                                                <input id="CustomerLastName" type="text" name="Lastname" placeholder="" />                        	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="Mobile">Phone <span class="required">*</span></label>
                                                <input id="CustomerEmail" type="text" name="Mobile" placeholder="" />                        	
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label for="CustomerEmail">Email Address <span class="required">*</span></label>
                                                <input id="CustomerEmail" type="email" name="Email" placeholder="" />                        	
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="customCheckbox clearfix">
                                                <input id="newsletter" name="newsletter" type="checkbox" />
                                                <label for="newsletter">Sign Up for Newsletter</label>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="mt-3">Login Information</h3>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">                                	
                                            <div class="form-group">
                                                <label for="CustomerPassword">Password <span class="required">*</span></label>
                                                <input id="CustomerPassword" type="password" name="Password" placeholder="" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="text-left col-12 col-sm-12 col-md-6 col-lg-6">
                                            <input type="submit" class="btn mb-3 border border-dark" value="Submit" />
                                        </div>
                                        <div class="text-right col-12 col-sm-12 col-md-6 col-lg-6">
                                            <a href="/login" style="color: black;"><i class="icon an an-angle-double-left me-1" style="color: black;"></i> Back To Login</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>